<app-navigation></app-navigation>
<div class="min-h-70 d-flex justify-content-center align-items-center container">
    <div class="col-lg-10 text-center">
        <h2 class="mb-2 text-head">Privacy Policy</h2>
        <p>At Whizzact Pvt Ltd, a leading provider of web development, app development, DevOps services, cloud services,
            and more, we deeply value the privacy and protection of your personal information. This Privacy Policy
            outlines how we collect, use, and safeguard your data to ensure a secure experience while utilizing our
            services.</p>
    </div>
</div>

<div class="container content-div">
    <div class="content">
        <h3>Information We Collect</h3>
        <P>Whizzact Pvt Ltd may collect the following types of personal information from you:</P>
        <ol>
            <li>Name</li>
            <li>Email address</li>
            <li>Mailing address</li>
            <li>Phone number</li>
            <li>Payment information</li>
        </ol>
    </div>

    <div class="content">
        <h3>How We Use Your Information</h3>
        <p>We may use your personal information for the following purposes:</p>

        <ol>
            <li>Processing your orders, delivering our services, and facilitating payment transactions efficiently.</li>
            <li>Communicating with you regarding your projects, providing updates, and addressing any inquiries or concerns.</li>
            <li>Sending you relevant promotional offers, newsletters, and updates about our latest services and innovations.</li>
            <li>Improving our website, enhancing user experience, and tailoring our offerings to better suit your needs.</li>
        </ol>
    </div>

    <div class="content">
        <h3>How We Protect Your Information</h3>
        <p>At Whizzact Pvt Ltd, we employ stringent measures to ensure the security of your personal information. We utilize robust firewalls, encryption technologies, and industry-standard security protocols to safeguard your data. Access to your personal information is strictly limited to authorized personnel only, who are bound by strict confidentiality agreements.</p>
    </div>

    <div class="content">
        <h3>How We Protect Your Information</h3>
        <p>We may share your personal information with trusted third-party service providers who assist us in delivering our services, such as software developers or payment processors. These providers are obligated to protect your information and are only granted access to the extent necessary to fulfill their designated tasks. We may also disclose your information to comply with legal obligations or protect our rights.</p>
</div>

<div class="content">
    <h3>Your Rights</h3>
    <p>As an individual, you have certain rights regarding your personal information:</p>

    <ol>
        <li>Access: You have the right to request and access the personal information we hold about you.</li>
        <li>Update: You can request updates or corrections to your personal information if it is inaccurate or incomplete.</li>
        <li>Delete: You have the right to request the deletion of your personal information, and we will comply unless we have legal or legitimate reasons to retain it.</li>
        <li>Unsubscribe: You can unsubscribe from our marketing communications at any time by following the instructions provided in the emails.</li>
    </ol>
</div>

<div class="content">
    <h3>Changes to Our Privacy Policy</h3>
    <p>Whizzact Pvt Ltd may periodically update this Privacy Policy to reflect any changes in our data handling practices or legal requirements. Any revisions will be posted on our website, along with the date of the last update.</p>
    <p>At Whizzact Pvt Ltd, we are committed to maintaining the highest standards of privacy and data protection. If you have any questions or concerns regarding our Privacy Policy or the security of your personal information, please feel free to contact us.</p>
</div>


</div>


<app-footer></app-footer>