<app-navigation></app-navigation>
<div class="company">
<!-- header -->
<div class="header d-flex flex-column justify-content-center">
  <h1 class="display-1 fw-semibold text-blue text-center">About Us</h1>
  <div class="col-11 col-md-6 mx-auto">
    <p class="text-center">We at WhizzAct progress in n-different dimensions to help our clients thrive and grow their businesses to its peak potential and maximise their ROI. Located in the heart of Mumbai's IT hub Smart City in 2015 with just 4 people we have now grown to a network which spreads to different corners of the world with an employee strength of 35.</p>
    <p class="text-center mt-3">Since its inception, WhizzAct has adopted continuous learning, dynamic expertise, and innovation in its core competencies like application development, data centre management, and various IT consulting services and has given wings to our clients’ business ambitions.</p>
  </div>
</div>
<!-- header -->
<!-- goal -->
<div class="container my-5">
<div class="col-md-10 py-3 col-11 goal mx-auto d-md-flex justify-content-center align-items-center">
  <div class="col-12 col-lg-4">
    <h1 class="text-capitalize display-1 title fw-semibold">who we are?</h1>
  </div>
  <div class="col-12 col-md-8">
    <p class="text-xs ps-lg-5">WhizzAct was established in 2015 to provide best technology-driven solutions to clients. We have experts who have hands on experience in advanced technologies and use the best tools to produce the furnished outcome.</p>
  </div>
</div>
<!-- -------- -->
<div class="col-md-10 col-11 goal  py-4 mx-auto d-md-flex justify-content-center align-items-center">
  <div class="col-12 col-lg-4 d-md-none">
    <h1 class="text-capitalize display-1 title text-left fw-semibold">What we Do?</h1>
  </div>
  <div class="col-12 col-lg-8 ">
    <p class="text-xs pe-lg-5">WhizzAct aims to deliver the supreme service at an effective cost, ensuring a complete customer satisfaction. Emphatic use of latest tools and technology, helps our clients to grow and promote their businesses worldwide. Creativity is a superset of Innovation, and we at WhizzAct believes in making of products that would benefit the entire community.</p>
  </div>
  <div class="col-12 col-lg-4 d-none d-md-block">
    <h1 class="text-capitalize display-1 title text-left fw-semibold">What we Do?</h1>
  </div>
</div>
<!-- ------- -->
<div class="col-md-10 col-11 goal py-4 mx-auto d-md-flex justify-content-center align-items-center border-dash">
  <div class="col-12 col-lg-4">
    <h1 class="text-capitalize display-1 title fw-semibold">Why WhizzAct</h1>
  </div>
  <div class="col-12 col-lg-8">
    <p class="text-xs ps-lg-5">Convenience-craving consumers are always looking for a way to do things better, faster and cheaper. With better understanding of customer’s requirements, our team strives to present an impeccable solution at one go. A proven client service model: locally owned and operated. Considerable range of combined technical knowledge and experience. Hands-on Technology experts and Industry based professional experts. Timely response to any issues. Reliable software services and other applications with high performance. Cost effective applicability. Fixed costs for easier budgeting. Keeping pace with recent trends in technology and providing best solutions. Better implementation and execution of ideas as per client’s demand. Attaining customer satisfaction to highest level.</p>
  </div>
</div>
<!-- -------- -->
<div class="col-md-10 col-11 py-4 mx-auto d-md-flex justify-content-center align-items-center">
  <div class="col-12 col-lg-4 d-md-none">
    <h1 class="text-capitalize display-2 title text-left fw-semibold">Vision & Mission</h1>
  </div>
  <div class="col-12 col-lg-8 ">
    <p class="text-xs pe-lg-5">Every venture sets its own objective and plan to expand their firm globally. Being an IT industry, we wish to provide our client’s with optimal solutions that eventually helps their businesses to grow and acquire an esteemed position in national and international markets. With an intention to serve our clients with the finest, furnished and flawless products, we believe in building a long-term relationship with the customers. Contributing to digitization of our country, it’s our privilege to inculcate the recent and newest trends within us to implement an effective solution. We wish to grant the best exposure to our customers that results in earning of profits to both.</p>
  </div>
  <div class="col-12 col-lg-4 d-none d-md-block">
    <h1 class="text-capitalize display-1 title text-left fw-semibold">Vision & Mission</h1>
  </div>
</div>
<!-- ------- -->
</div>

<!-- goal -->
<!-- team -->
<div class="container">
  <h1 class="text-head">Our Team</h1>
  <div class="row justify-content-center justify-content-md-between">
    <div class="d-flex gap-2">
    <drag-scroll class="profiles">
<!--  -->
    <div class=" avatar bg-white ms-4" *ngFor="let items of team_Info">
      <div class="avatar-bg text-center d-flex justify-content-center align-items-end">
        <img class="profile" src="{{items.profile}}" alt="{{items.name}}">
      </div>
      <div class="p-3">
        <div>
          <h5 class="fw-semibold text-capitalize">{{items.name}}</h5>
          <p class="text-wrap"><i>~ {{items.designation}}</i></p>
        </div>
      <div class="social-medial d-flex justify-content-end mt-3">

      <div>
        <a href="{{items.linkedin_url}}">
          <i class="bi bi-linkedin pe-2 fs-4 text-blue"></i>
      </a>
    </div>
      </div>
    </div>
    </div>
    <!--  -->
  </drag-scroll>
</div>
  </div>
</div>
<!-- team -->
<!-- wrapper -->
</div>
<app-footer></app-footer>
