<!-- <div class="footer">
  <div class=" container-fluid ">
      <div class="row p-4 g-4">
          <div class="col-1">
              <img src="../../assets/image/logo.png" alt="" class="logo">
          </div>
          <div class="col-3">
              <p class="text-white fs-6 fw-light ">WhizzAct aims to deliver the supreme service at an effective cost, ensuring a complete customer satisfaction. Emphatic use of latest tools and technology, helps our clients to grow and promote their businesses worldwide.</p>
          </div>
          <div class="col-2">
              <h5 class="text-white fs-4">Our Product</h5>
              <p class="mt-2 text-white fw-light">Print All Results
                  Competemantra
                  GST Billing
                  Transport Billing</p>
          </div>
          <div class="col-2">
              <h5 class="text-white fs-4 ms-4">NavGations</h5>
              <ul class="lh-lg">
                  <li class="list-group-item"><a class="text-white" href="">Mobile Application</a></li>
                  <li class="list-group-item"><a class="text-white" href="">Web Application</a></li>
                  <li class="list-group-item"><a class="text-white" href="">Devops Service</a></li>
                  <li class="list-group-item"><a class="text-white" href="">About Us</a></li>
                  <li class="list-group-item"><a class="text-white" href="">Contact</a></li>

              </ul>
      </div>
      <div class="col-3">
          <p class="text-white"><i class="bi bi-geo-alt-fill"></i>Find Us</p>
          <a href="">
              <p>3, Kumbharwada, S.T. Road, Jai Mata Di Complex, Chembur, Mumbai, Maharashtra India - 400071.</p>
          </a>
          <p class="text-white mt-3"><i class="bi bi-telephone-fill"></i>Call Us</p>
          <a href="">+91-82681 08343</a>
          <a href="">+91-74003 92271</a>
          <p class="text-white mt-3"><i class="bi bi-telephone-fill"></i>Mail Us</p>
          <a href="">hello@whizzactsolutions.com</a>
      </div>
      <div class="col-12 d-flex justify-content-start align-items-end">
          <div class="col-3">
                  <h4 class="text-primary">Subscribe Newletter</h4>
                  <p class="py-3 text-white fw-light">Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                  <div class="d-flex justify-content-center align-items-center bg-white rounded-pill p-1">
                      <input type="text" class="w-100 mx-3 bg-transparent border-0">
                      <button class="btn btn-primary rounded-pill"><i class="bi bi-arrow-right-short "></i></button>
                  </div>

          </div>
          <div class="col-1 ms-5">
              <div class="d-flex justify-content-between align-items-end">
                  <a class="fs-3 text-white" href=""><i class="bi bi-facebook"></i></a>
                  <a class="fs-3 text-white" href=""><i class="bi bi-twitter"></i></a>
                  <a class="fs-3 text-white" href=""><i class="bi bi-linkedin"></i></a>
              </div>
          </div>
      </div>

  </div>
</div> -->



<!-- new footer -->
<div class="footer fixed-botto w-100 mt-5">
  <div class="container-fluid ">
    <div class="row p-4 p-md-0">
      <div class="col-12 col-lg-8 border-right p-0">
        <!-- logo -->
        <div class="col-12 border-bottom ">
          <div class="row">
            <div class="col-12 col-lg-9 d-md-flex justify-content-between border-right py-3 p-md-5">  
              <a href="index.html">
              <img class="logo" src="../../assets/image/logo.png" alt="" ></a>
              <p class="text-xs mt-4 ms-md-5 text-white">
                WhizzAct aims to deliver the supreme service at an effective cost, ensuring a complete customer satisfaction. Emphatic use of latest tools and technology, helps our clients to grow and promote their businesses worldwide.
              </p>
            </div>
            <!-- social media -->
            <div class="col-12 col-lg-3 d-none d-md-flex flex-column justify-content-center align-items-center">
              <h5 class="text-secondary">Social Media</h5>
              <div class="d-flex flex-column justify-content-between align-items-center mt-3">
                <a class="page-link text-white" href="https://www.linkedin.com/company/whizzac/" target="_blank">Linkedin</a>
                <a class="page-link text-white mt-2" href="https://www.facebook.com/whizzactsolutions" target="_blank">FaceBook</a>
                <a class="page-link text-white mt-2" href="https://twitter.com/whizz_act" target="_blank">Twitter</a>
              </div>
            </div>
          </div>
        </div>
        <!-- navigation -->
        <div class="col-12 row d-md-flex mt-3 mt-md-0 ">
          <!-- product -->
          <div class=" col-6 col-md-3 lh-lg" >
            <div class="p-md-5">
            <h5 class="text-secondary">Products</h5>
            <div class="mt-3 text-white">

              <p title="Print All Results"  > <a href="http://printallresults.com/" class="text-white" target="_blank" > PAR </a> </p>
              <p> <a href="http://vir.whizzact.com/ " class="text-white" target="_blank"> E-commerce Solution</a>  </p>
              <p> <a href="http://www.competemantra.whizzact.com/" class="text-white" target="_blank">Competemantra</a> </p>
              <p> <a href="http://invoice.whizzact.com/" class="text-white" target="_blank">GST Billing</a> </p>
              <p>  <a href="http://transport.whizzact.com/" class="text-white" target="_blank">Transport Billing</a> </p>
            </div>
          </div>
          </div>
          <!-- navigation -->
          <div class="col-6 col-md-4 border-right">
            <div class="p-md-5">
              <h5 class="text-secondary">Navigation</h5>
              <div class="mt-3  d-flex flex-column lh-lg">
                <a class="text-white page-link" routerLink="/contact">Contact</a>
                <a class="text-white page-link" routerLink="/company">About</a>
                <a class="text-white page-link" routerLink="/mobile-service">Mobile Application</a>
                <a class="text-white page-link" routerLink="/webapp-service">Web Application</a>
                <a class="text-white page-link" routerLink="/devops-service">DevOps Service</a>
              </div>
            </div>
          </div>
          <!-- address -->
          <div class="col-12 col-md-5">
            <div class="py-5 px-md-3">
              <div>
            <h5 class="text-cyna"><i class="bi bi-geo-alt-fill text-white"></i> Find Us</h5>
            <a href="https://goo.gl/maps/uPae2Fgv8M1tRis39" target="_blank">
              <p class="text-xs mt-2 text-white">3, Kumbharwada, S.T. Road, Jai Mata Di Complex, Chembur, Mumbai, Maharashtra India - 400071.</p>
          </a>
          </div>
          <!--  -->
          <div class="mt-3">
            <h5 class="text-cyna"><i class="bi bi-envelope-fill text-white"></i> Mail Us</h5>
            <a href="mailto:hello@whizzactsolutions.com">
              <p class="text-xs mt-2 text-white">hello@whizzactsolutions.com</p>
          </a>
          <a href="mailto:info@whizzactsolutions.com">
          <p class="text-xs mt-1 text-white">info@whizzactsolutions.com</p>
        </a>
          </div>
          <!--  -->
          <div class="mt-3">
            <h5 class="text-cyna"><i class="bi bi-telephone-fill text-white"></i> Call Us</h5>
            <div class="d-flex align-items-center mt-2">
            <a href="tel:+918268108343">
              <p class="text-xs text-white">+91 82681 08343</p>
          </a>
          <a href="tel:+917710868343">
          <p class="text-xs ms-3 text-white">+91 77108 68343</p>
        </a>
      </div>
          </div>
          </div>
          </div>
        </div>
      </div>
      <!-- suscribe sec -->
      <div class="col-10 col-md-4 p-0">
        <div class="d-flex flex-column justify-content-center px-md-5 h-100">
          <p class="text-white display-4 fw-semibold">Subscribe NewsLetter</p>
          <p class="text-secondary mt-2"> Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
          <div class="w-100 mt-3 bg-body d-flex p-1 rounded-pill">
            <input class="w-100 border-0 bg-transparent ps-3 fw-semibold text-dark" type="text " placeholder="Email Here">
            <button class="btn bg-primary rounded-circle"><i class="bi bi-arrow-right-short text-white"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
