<app-navigation></app-navigation>
<div class="industry">
  <!-- header -->
<div class="header container mt-md-5 d-flex justify-content-center align-items-center">
  <div class="row w-100">
    <div class="col-12 col-md-6 text-center text-lg-start">
      <h1 class="text-blue display-1 fw-semibold">Industry</h1>
      <p class="mt-3">Software has become an essential tool for many industries, enabling them to streamline operations, improve efficiency, and increase productivity. Here are some of the industries that rely heavily on software.</p>
      <div class="mt-3 row g-2">
        <p class="badge-red col-3 col-lg-2">CRM</p>
        <p class="badge-blue ms-2 col-5 col-lg-3">Mobile App</p>
        <p class="badge-yellow ms-md-2 col-4 col-lg-2">WebSite</p>
        <p class="badge-orange ms-2 col-7 col-lg-4">Custom Software</p>
        <p class="badge-green  col-6 col-lg-3 ">Many More</p>
      </div>
    </div>
    <div class="col-12 col-md-6 position-relative mt-5 mt-md-0">
      <img src="../../assets/image/service-imgs/My project.png" alt="" class="img-fluid">
    </div>

  </div>
</div>
  <!-- header -->
<!-- main industry -->
<div class="container my-5 industry-bg">
<div class="row justify-content-center">
  <!-- edu -->
<div class="col-11  col-md-3 full-radius bg-white main-industry">
<div class="edu-img">
  <img class="top-radius industry-img" src="../../assets/icons/industry-imgs/education.jpg" alt="">
</div>
<div class="d-flex justify-content-start align-items-center p-3">
<img class="industry-icon" src="../../assets/icons/industry-icon/graduation.svg" alt="">
<h4 class="fw-bold ms-2 text-dark">Education Sector</h4>
</div>
<p class="px-3 text-xs">Information technology (IT) services have transformed the education sector by providing innovative solutions for teaching and learning. Here are some of the ways in which IT services are being used in the education sector.</p>

<div class="row px-4 mt-3 pb-3 pb-md-0">
<p class="badge-red col-8">Attendence system</p><br>
<p class="badge-yellow col-5 mt-2">E-learning</p>
<p class="badge-blue col-5 ms-2 mt-2">Online Test</p>
</div>
</div>
<!-- edu -->
<!-- shop & manifacture-->
<div class="col-11 col-md-6 ms-md-4 mt-3 mt-md-0 p-0">
  <!-- shop -->
  <div class="col-12 full-radius bg-white main-industry">
    <div class="row">
      <div class="col-12 col-md-4 shop-img">
        <img class="industry-img left-radius" src="../../assets/icons/industry-imgs/retail.jpg" alt="">
      </div>
      <div class="col-12 col-md-8">
        <div class="d-flex justify-content-start align-items-center p-3">
          <img class="industry-icon" src="../../assets/icons/industry-icon/shop.svg" alt="">
          <h4 class="ms-2 fw-bold">Retail Sector</h4>
        </div>
        <p class="px-3 text-xs">Information technology (IT) services are transforming the retail sector by providing innovative solutions that enhance customer experiences, optimize operations, and drive revenue growth. Here are some of the ways in which IT services are being used in the retail sector.</p>
        <div class="row g-2 px-4 mt-3 pb-3 pb-md-0">
          <p class="badge-red col-6 col-md-5">E-commerce</p>
          <p class="badge-green col-3 col-md-2 ms-2">CRM</p>
          <p class="badge-voilet col-5 col-md-4 ms-md-2">wharehouse</p>
        </div>
      </div>
    </div>
  </div>
  <!-- shop -->
<!-- manifacturing -->
<div class="col-12 full-radius bg-white mt-4 main-industry">
  <div class="row">
    <div class="col-12 col-lg-4 shop-img">
      <img class="industry-img left-radius" src="../../assets/icons/industry-imgs/manifacture.jpg" alt="">
    </div>
    <div class="col-lg-8">
      <div class="d-flex justify-content-start align-items-center p-3">
        <img class="industry-icon" src="../../assets/icons/industry-icon/tools.svg" alt="">
        <h4 class="ms-2 fw-bold">Manifacture Sector</h4>
      </div>
      <p class="px-3 text-xs">Information technology (IT) services are playing an increasingly important role in the manufacturing sector by providing innovative solutions that enhance productivity, optimize operations, and drive revenue growth. Here are some of the ways in which IT services are being used in the manufacturing sector. </p>
      <div class="row g-2 mt-3 px-3 pb-3 pb-md-0">
        <p class="badge-blue col-6 col-md-5">Dashboard</p>
        <p class="badge-orange col-3 col-md-2 ms-2">CRM</p>
        <p class="badge-green col-5 col-md-4 ms-md-2">wharehouse</p>
      </div>
    </div>
  </div>
</div>
<!-- manifacture -->
</div>
</div>
<!-- 1strow -->
<!-- 2ndrow -->
<div class="row mt-4 justify-content-center">
  <!-- finance -->
  <div class="col-11 col-lg-6 full-radius bg-white main-industry">
    <div class="finance-img">
      <img class="top-radius industry-img" src="../../assets/icons/industry-imgs/finance.jpg" alt="">
    </div>
    <div class="d-flex justify-content-start align-items-center p-3">
    <img class="industry-icon" src="../../assets/icons/industry-icon/graph.svg" alt="">
    <h4 class="fw-bold ms-2 text-dark">finance Sector</h4>
    </div>
    <p class="px-3 text-xs">Information technology (IT) services have transformed the finance sector by providing innovative solutions that enhance customer experiences, optimize operations, and drive revenue growth. Here are some of the ways in which IT services are being used in the finance sector.</p>

    <div class="row g-2 px-4 mt-3">
    <p class="badge-red col-6 col-md-3">Trading App</p><br>
      <p class="badge-voilet col-7 col-md-4 ms-md-2">Bank Application</p>
    </div>
    </div>
  <!-- finance -->
  <!-- medical -->
  <div class="col-11 col-lg-3 full-radius bg-white main-industry mt-3 mt-md-0 ms-md-4">
    <div class="finance-img">
      <img class="top-radius industry-img" src="../../assets/icons/industry-imgs/medical.jpg" alt="">
    </div>
    <div class="d-flex justify-content-start align-items-center p-3">
    <img class="industry-icon" src="../../assets/icons/industry-icon/medical-equipment.svg" alt="">
    <h4 class="fw-bold ms-2 text-dark">Medical Sector</h4>
    </div>
    <p class="px-3 text-xs">Information technology (IT) services have transformed the medical sector by providing innovative solutions that enhance patient care, optimize operations, and drive research and development. Here are some of the ways in which IT services are being used in the medical sector.</p>

    <div class="row px-4 my-3">
    <p class="badge-red col-8">Medical App</p>


    </div>
    </div>
  <!-- medical -->

</div>
<!-- -------- -->
</div>



<!-- main industry -->

<!-- wrapper -->
</div>
<app-footer></app-footer>
