
.header{
  height: 100vh;
}
.header-icon{
  position: absolute;
  filter:         drop-shadow(5px 5px 5px rgba(54, 54, 54, 0.229));
}
.marketing{
  top: -5rem;
  rotate: calc(20deg);
  height: 6rem;
}
.tools{
  top: 10rem;
  left: 5rem;
  height: 5rem;
}
.book{
  top: -2rem;
  right: 0;
  height: 7rem;
}
.medical{
  top: -7rem;
  left: 50%;
  height: 5rem;
  rotate: calc(-20deg);
}
.shopkart{
  bottom: 0;
  right: 0;
  transform: scaleX(-1);
}
/* radius */
.top-radius{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.left-radius{
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}
.full-radius{
  border-radius: 1.5rem;
}
/* main industry */
/* .industry-bg{
  background:linear-gradient( #f8f9fae2, #f8f9fae0), url(../../assets/icons/patterns/patter2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.main-industry{
  padding: 0 !important;
}

.industry-img{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.industry-icon{
  height: 2rem;
}
.edu-img{
  width: 100%;
  height: 13rem;
}
.shop-img{
  height: 15rem;
}
.finance-img{
  height: 16rem;
}
