.testimonal-bg-color{
  background-color: rgb(0, 0, 4) !important;
  }
  .testimonal-navbtn{
      /* background: #f9f9f9; */
      height: 30rem !important;
      z-index: 10;
      /* width: 100%; */
  }
  .testimonal-bg{
      background:linear-gradient(#3419ab7e,#3419ab3f), url('../../../assets/icons/patterns/ccchaos.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 30rem;
      border-top-left-radius:3rem ;
      border-bottom-left-radius:3rem ;
  }
  .testimonal-card{
      width: 28rem !important;
      height: 15rem !important;
      background-color: rgb(232, 232, 255);
      border-radius: 0.8rem;
      padding: 1.2rem;
      transform: scale(1px);
  }

  .owl-item.active .item .testimonal-card{
      background-color:  rgb(232, 232, 255);
  }

  .owl-item{
      display: flex !important;
      justify-content: start !important;
      opacity: 50%;
      transform: scale(0.85) !important;
      transition: all .5s ease-in-out;
  }
  .center{
      opacity: 100% !important;
      transform: scale(1) !important;
  }
  .testimonal-profile{
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      overflow: hidden;
      outline: 3px solid rgb(156, 141, 255);
      outline-offset: 4px;
  }
  .testimona-card-div {
      margin-left: -15rem;
      margin-right: 3rem;
  }
  .testimonal-profile img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .owl-prev , .owl-next{
      margin-top: 5rem;
      background-color: #f9f9f9;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 3px solid #f9f9f9;
      transition:all 0.3s ease-in-out;
      cursor: pointer;
  }

  .owl-prev:hover , .owl-next:hover{
      border-color:rgb(51, 51, 177) ;
  }

  .owl-prev span , .owl-next span{
      color: #bcbcbc;
  }
  .owl-prev:hover span , .owl-next:hover span{
      color: rgb(51, 51, 177);
  }
