<app-navigation></app-navigation>

<div class=" container d-md-flex justify-content-center align-items-center header">
  <div class="col-12 col-md-6">
      <h1 class="fw-bold display-1"><Span class="text-blue">UX/UI</Span><br> Desigining</h1>
      <p class="col-md-10 my-3">UX/UI design services involve designing user interfaces that are intuitive, user-friendly, and visually appealing. These services use a combination of user research, information architecture, visual design, and usability testing to create interfaces that meet user needs and business goals. UX/UI design services can include web and mobile app design, product design, and user experience consulting.</p>
      <div class="col-2 tools gap-3 d-flex justify-content-between">
      <img src="../../../assets/image/service-imgs/icons/figma.png" alt="">
    <img src="../../../assets/image/service-imgs/icons/sketch.png" alt="">
    <img src="../../../assets/image/service-imgs/icons/xd.png" alt="">
  </div>
  </div>
  <div class="col-md-6 d-lg-block d-none p-5">
      <img src="../../../assets/image/service-imgs/uxui.png" alt="" class="img-fluid">
  </div>
</div>
<!-- UX DESIGN SERVICES -->
<div class="container">
    <h1 class="text-head">UX/UI DESIGN SERVICES</h1>
    <div class="row gap-4 justify-content-center">
      <div class="uxui-div col-3 bg-white ">
        <img src="../../../assets/image/service-imgs/icons/ux-vr.png" alt="">
      <h4 class="fw-semibold my-3">AR Experience Design</h4>
      <p class="text-xs text-secondary">WhizzAct provides cutting-edge AR experience design services to help businesses create engaging and immersive experiences for their customers. Our team of experienced designers use the latest AR technology to create memorable experiences that leave a lasting impression on your customers. We work closely with you to understand your business goals and create an AR experience that meets your specific needs.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-mobileapp.png" alt="">
      <h4 class="fw-semibold my-3">Mobile Apps UX/UI Design Service</h4>
      <p class="text-xs text-secondary">WhizzAct offers professional UX/UI design services for mobile apps to help businesses create visually stunning and user-friendly mobile applications. Our team of experienced designers works closely with you to create a design that provides an optimal user experience and meets your business needs. We use the latest tools and techniques to create mobile app designs that engage and delight your users.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-idea.png" alt="">
      <h4 class="fw-semibold my-3">Cross-Platform Experience Design</h4>
      <p class="text-xs text-secondary">WhizzAct offers cross-platform experience design services to help businesses create a seamless and consistent user experience across multiple platforms and devices. Our team of experienced designers creates designs that are compatible with various platforms, including web, mobile, and desktop, to ensure that your users have a consistent experience. We work closely with you to understand your business goals and create a design that meets your specific needs.</p>
      </div>
      <!--  -->
    </div>
    <!-- ********** -->
    <div class="row gap-4 justify-content-center mt-4">
      <div class="uxui-div col-3 bg-white ">
        <img src="../../../assets/image/service-imgs/icons/ux-crossplatform.png" alt="">
      <h4 class="fw-semibold my-3">Ux/UI Consulting</h4>
      <p class="text-xs text-secondary">WhizzAct provides professional UX/UI consulting services to help businesses improve their user experience and increase customer satisfaction. Our team of experienced consultants works closely with you to identify areas for improvement and provide actionable recommendations to optimize your UX/UI design. We help businesses create a user-centric design that meets their specific needs and exceeds their customers' expectations.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-workshop.png" alt="">
      <h4 class="fw-semibold my-3">Design Workshops</h4>
      <p class="text-xs text-secondary">WhizzAct offers design workshop services to help businesses ideate and create designs that align with their business goals. Our team of experienced designers conducts interactive workshops that allow businesses to collaborate and generate innovative ideas. We help businesses turn their ideas into reality by creating designs that meet their specific needs and exceed their customers' expectations.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-webdesign.png" alt="">
      <h4 class="fw-semibold my-3">Web Deisgn Service</h4>
      <p class="text-xs text-secondary">WhizzAct provides professional web design services to help businesses create visually stunning and user-friendly websites. Our team of experienced designers works closely with you to understand your business goals and target audience to create a design that provides an optimal user experience. We use the latest tools and techniques to create designs that engage and delight your users.</p>
      </div>
      <!--  -->
    </div>
</div>



<!-- UX DESIGN SERVICES -->


<app-footer></app-footer>




