<app-navigation></app-navigation>

<div class=" container d-md-flex justify-content-center align-items-center header">
  <div class="col-12 col-md-6">
      <h1 class="fw-bold display-1"><Span class="text-blue">UX/UI</Span><br> Desigining</h1>
      <p class="col-md-10 my-3">Lorem Ipsum is simply dummy text of the printing o the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <div class="col-2 tools d-flex justify-content-between">
      <img src="../../../assets/image/service-imgs/icons/figma.png" alt="">
    <img src="../../../assets/image/service-imgs/icons/sketch.png" alt="">
    <img src="../../../assets/image/service-imgs/icons/xd.png" alt="">
  </div>
  </div>
  <div class="col-12 col-md-6 p-5">
      <img src="../../../assets/image/service-imgs/uxui.png" alt="" class="img-fluid">
  </div>
</div>
<!-- UX DESIGN SERVICES -->
<div class="container">
    <h1 class="text-head">UX/UI DESIGN SERVICES</h1>
    <div class="row gap-4 justify-content-center">
      <div class="uxui-div col-3 bg-white ">
        <img src="../../../assets/image/service-imgs/icons/ux-vr.png" alt="">
      <h4 class="fw-semibold my-3">AR Experience Design</h4>
      <p class="text-xs text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-mobileapp.png" alt="">
      <h4 class="fw-semibold my-3">Mobile Apps UX/UI Design Service</h4>
      <p class="text-xs text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-idea.png" alt="">
      <h4 class="fw-semibold my-3">Cross-Platform Experience Design</h4>
      <p class="text-xs text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <!--  -->
    </div>
    <!-- ********** -->
    <div class="row gap-4 justify-content-center mt-4">
      <div class="uxui-div col-3 bg-white ">
        <img src="../../../assets/image/service-imgs/icons/ux-crossplatform.png" alt="">
      <h4 class="fw-semibold my-3">Ux/UI Consulting</h4>
      <p class="text-xs text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-workshop.png" alt="">
      <h4 class="fw-semibold my-3">Design Workshops</h4>
      <p class="text-xs text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-webdesign.png" alt="">
      <h4 class="fw-semibold my-3">Web Deisgn Service</h4>
      <p class="text-xs text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <!--  -->
    </div>
</div>



<!-- UX DESIGN SERVICES -->


<app-footer></app-footer>




