.contact{
  padding-top: 6rem;
}
.bg-vid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.main-container{
  background-color: rgba(0, 0, 0, 0.034);
  backdrop-filter: blur(5px);
}
@media only screen and (max-width: 600px) {}
