<app-navigation></app-navigation>
<!-- <div class=""> -->

  <div class="container ">
    <div class="row align-items-center justify-content-between header">
        <div class="col-lg-6">
            <h1 class="fw-bold display-1"><span class="text-blue">Digital</span> Marketing</h1>
            <p class="mt-3 text-secondary">Digital marketing is an umbrella term for the marketing of products or services using digital technologies, mainly on the Internet, but also including mobile phones, display advertising, and any other digital medium.
              <br>
              <br>
                  <span class="  " >  Internet marketing services involve the promotion of products, services, or brands through digital channels such as search engines, social media, email, and websites. These services use a variety of tactics, including search engine optimization (SEO), pay-per-click (PPC) advertising, social media marketing, and content marketing, to drive traffic, generate leads, and increase conversions.   </span>         </p>
        </div>
        <div class="col-6 d-lg-block d-none header-img">
          <img src="../../../assets/image/service-imgs/Group 121.png" alt="" >
        </div>
    </div>
  </div>

<!-- UX DESIGN SERVICES -->
<div class="container d-none">
  <h1 class="text-head">Internet Marketing PROCESS</h1>
  <div class="row justify-content-center">
    <div class="uxui-div col-3 bg-white ">
      <img src="../../../assets/image/service-imgs/icons/google.png" alt="">
    <h4 class="fw-semibold my-3">Search Engine Optimization (SEO)</h4>
    <p class="text-xs text-secondary">What is SEO ? SEO (Search Engine Optimization) refers to the work being done to improve the appearance of a website in the unpaid search rankings in major search engines (Google, Bing, etc).</p>
    </div>
    <!--  -->
    <div class="uxui-div ms-lg-4 col-3 bg-white  mt-lg-0 mt-3 ">
      <img src="../../../assets/image/service-imgs/icons/bullhorn.png" alt="">
    <h4 class="fw-semibold my-3">Social Media Marketing (SMM)</h4>
    <p class="text-xs text-secondary">Why does your business need a social media presence? Social media is a golden opportunity to talk to your existing and prospective customers, engage with those who will shout about your brand and it’s now an important factor in ranking well in search.</p>
    </div>
    <!--  -->
    <div class="uxui-div ms-lg-4 col-3 bg-white mt-lg-0 mt-3  ">
      <img src="../../../assets/image/service-imgs/icons/email.png" alt="">
    <h4 class="fw-semibold my-3">E-mail Marketing</h4>
    <p class="text-xs text-secondary">Email Marketing -Engage your customers like never before! Whether it’s your existing customer database or a fresh prospect list, a segmented, targeted and expertly managed email marketing campaign can be tailored to drive the results you need.</p>
    </div>
    <!--  -->
  </div>
  <!-- ********** -->
  <div class="row justify-content-center mt-3">
    <div class="uxui-div col-3 bg-white ">
      <img src="../../../assets/image/service-imgs/icons/sms.png" alt="">
    <h4 class="fw-semibold my-3">SMS Marketing</h4>
    <p class="text-xs text-secondary">SMS messages are likely to be opened within just five minutes of being received.SMS marketing has been, for a long time now, a very common practice among companies trying to promote their product and vying for more exposure & consumer support.</p>
    </div>
    <!--  -->
    <div class="uxui-div ms-lg-4 col-3 bg-white mt-lg-0 mt-3 ">
      <img src="../../../assets/image/service-imgs/icons/adsense.png" alt="">
    <h4 class="fw-semibold my-3">Google Adwords</h4>
    <p class="text-xs text-secondary">Google Ads is an online advertising platform developed by Google. Advertisers pay to display brief advertisements, service offerings, product listings, video content, and generate mobile application installs within the Google ad network to web users.</p>
    </div>
    <!--  -->
    <div class="uxui-div ms-lg-4 col-3 bg-white mt-lg-0 mt-3 ">
      <img src="../../../assets/image/service-imgs/icons/logotype.png" alt="">
    <h4 class="fw-semibold my-3">Google Adsense</h4>
    <p class="text-xs text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <!--  -->
  </div>
</div>


<div class="container my-lg-5">
  <h3 class="text-head">Internet Marketing PROCESS</h3>
  <div class="w-100 overflow-hidden web-dev">
    <drag-scroll class=" web-dev-div d-flex py-3 hidden-scrollbar">
      <div class="web-dev bg-white rounded app-process">
        <img src="../../../assets/image/service-imgs/icons/google.png" alt="">
        <h3 class="fw-semibold ">Search Engine Optimization (SEO)</h3>
        <p class="mt-3 text-xs text-secondary ">
          What is SEO ? SEO (Search Engine Optimization) refers to the work being done to improve the appearance of a website in the unpaid search rankings in major search engines (Google, Bing, etc).</p>
      </div>
      <div class="web-dev ms-4 bg-white rounded app-process">
        <img src="../../../assets/image/service-imgs/icons/bullhorn.png" alt="">
        <h3 class="fw-semibold">Social Media Marketing (SMM)</h3>
        <p class="mt-3 text-xs text-secondary">
          Why does your business need a social media presence? Social media is a golden opportunity to talk to your existing and prospective customers, engage with those who will shout about your brand and it’s now an important factor in ranking well in search. </p>
      </div>
      <div class="web-dev ms-4 bg-white rounded app-process">
        <img src="../../../assets/image/service-imgs/icons/email.png" alt="">
        <h3 class="fw-semibold">E-mail Marketing</h3>
        <p class="mt-3 text-xs text-secondary">
          Email Marketing -Engage your customers like never before! Whether it’s your existing customer database or a fresh prospect list, a segmented, targeted and expertly managed email marketing campaign can be tailored to drive the results you need.</p>
      </div>
      <div class="web-dev ms-4 bg-white rounded app-process">
        <img src="../../../assets/image/service-imgs/icons/sms.png" alt="">
        <h3 class="fw-semibold">SMS Marketing</h3>
      <p class="mt-3 text-xs text-secondary">
        SMS messages are likely to be opened within just five minutes of being received.SMS marketing has been, for a long time now, a very common practice among companies trying to promote their product and vying for more exposure & consumer support. </p>
    </div>
      <div class="web-dev ms-4 bg-white rounded app-process">
        <img src="../../../assets/image/service-imgs/icons/adsense.png" alt="">

        <h3 class="fw-semibold">Google Adwords</h3>
        <p class="mt-3 text-xs text-secondary">
          Google Ads is an online advertising platform developed by Google. Advertisers pay to display brief advertisements, service offerings, product listings, video content, and generate mobile application installs within the Google ad network to web users. </p>
      </div>
    
      <div class="web-dev ms-4 bg-white rounded app-process">
        <img src="../../../assets/image/service-imgs/icons/logotype.png" alt="">
        <h3 class="fw-semibold">Google Adsense</h3>
        <p class="mt-3 text-xs text-secondary">
          Google AdSense provides a way for publishers to earn money from their online content. AdSense works by matching ads to your site based on your content and visitors.</p>
      </div>       
    </drag-scroll>
  </div>
</div>


<app-footer></app-footer>
