<app-navigation></app-navigation>

<div class=" container d-md-flex justify-content-center align-items-center header">
  <div class="col-12 col-lg-6">
      <h1 class="fw-bold display-1"><Span class="text-blue">Cloud </Span><br>Computing</h1>
      <p class="col-lg-10 my-3">Cloud has emerged as an enabler of transformation, but there are still significant barriers to cloud expansion and many enterprises are struggling to prove transformation value or to tie IT value to business outcomes. WhizzAct Cloud Services provide a 360-degree approach identifying and solving challenges and driving transformation forward.</p>
      <div class="col-2 tools gap-2 d-flex justify-content-between">
    
         <svg role="img"  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Google Cloud</title><path fill="#4285F4" d="M12.19 2.38a9.344 9.344 0 0 0-9.234 6.893c.053-.02-.055.013 0 0-3.875 2.551-3.922 8.11-.247 10.941l.006-.007-.007.03a6.717 6.717 0 0 0 4.077 1.356h5.173l.03.03h5.192c6.687.053 9.376-8.605 3.835-12.35a9.365 9.365 0 0 0-2.821-4.552l-.043.043.006-.05A9.344 9.344 0 0 0 12.19 2.38zm-.358 4.146c1.244-.04 2.518.368 3.486 1.15a5.186 5.186 0 0 1 1.862 4.078v.518c3.53-.07 3.53 5.262 0 5.193h-5.193l-.008.009v-.04H6.785a2.59 2.59 0 0 1-1.067-.23h.001a2.597 2.597 0 1 1 3.437-3.437l3.013-3.012A6.747 6.747 0 0 0 8.11 8.24c.018-.01.04-.026.054-.023a5.186 5.186 0 0 1 3.67-1.69z"/></svg>
         <svg role="img"  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Home Assistant Community Store</title><path fill="#41BDF5" d="M1.63.47a.393.393 0 0 0-.39.39v2.417c0 .212.177.39.39.39h20.74c.213 0 .39-.178.39-.39V.859a.393.393 0 0 0-.39-.39zm-.045 4.126a.41.41 0 0 0-.407.337l-1.17 6.314C0 11.274 0 11.3 0 11.327v2.117c0 .23.186.416.416.416h23.168c.23 0 .416-.186.416-.416v-2.126c0-.027 0-.053-.009-.08l-1.169-6.305a.41.41 0 0 0-.407-.337zM1.7 14.781a.457.457 0 0 0-.46.46v7.829c0 .257.203.46.46.46h14.108c.257 0 .46-.203.46-.46v-6.589c0-.257.204-.46.461-.46h4.02c.258 0 .461.203.461.46v6.589c0 .257.204.46.46.46h.62a.456.456 0 0 0 .461-.46v-7.829a.458.458 0 0 0-.46-.46zm1.842 1.55h7.847c.212 0 .39.177.39.39V21.6c0 .212-.178.39-.39.39H3.542a.393.393 0 0 1-.39-.39v-4.88c0-.221.178-.39.39-.39Z"/></svg>
         <svg role="img"  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Amazon ECS</title><path fill="#FF9900" d="m21.895 15.256-3.369-2.021V8.421a.42.42 0 0 0-.209-.364l-4.843-2.825V1.159l8.42 4.976Zm.635-9.724L13.267.06a.422.422 0 0 0-.635.362v5.053c0 .15.08.288.208.363l4.844 2.826v4.81a.42.42 0 0 0 .205.362l4.21 2.526a.42.42 0 0 0 .638-.361V5.895a.42.42 0 0 0-.207-.363ZM11.977 23.1l-9.872-5.248V6.135l8.421-4.976v4.084L6.09 8.066a.422.422 0 0 0-.195.355v7.158a.42.42 0 0 0 .226.373l5.665 2.948a.42.42 0 0 0 .387 0l5.496-2.84 3.382 2.03-9.074 5.01Zm10.135-5.356-4.21-2.526a.42.42 0 0 0-.411-.013l-5.51 2.847-5.244-2.729v-6.67l4.436-2.824a.422.422 0 0 0 .195-.355V.42a.421.421 0 0 0-.635-.362L1.47 5.532a.421.421 0 0 0-.207.363v12.21c0 .156.086.299.223.372l10.297 5.474a.421.421 0 0 0 .401-.004l9.915-5.473a.422.422 0 0 0 .013-.73Z"/></svg>
</div>
  </div>
  <div class="col-lg-6 d-lg-block d-none p-5">
      <img src="../../assets/image/service-imgs/cloud.png" alt="" class="img-fluid ps-5">
  </div>
</div>
<!-- UX DESIGN SERVICES -->
<div class="container">
    <h1 class="text-head">Cloud Services</h1>
    <div class="row gap-4 justify-content-center">
      <div class="uxui-div col-3 bg-white ">
        <img src="../../../assets/image/service-imgs/icons/ux-vr.png" alt="">
      <h4 class="fw-semibold my-3">Cloud Consulting</h4>
      <p class="text-xs text-secondary">We combine decades of experience with industry-recognized cloud adoption frameworks to streamline your cloud architecture and help you achieve desired business results.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-mobileapp.png" alt="">
      <h4 class="fw-semibold my-3">Private Cloud Services</h4>
      <p class="text-xs text-secondary">We deliver a cloud experience with dedicated on-prem resources in a fully managed model that works with public cloud workloads for a consistent approach across the cloud landscape.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-idea.png" alt="">
      <h4 class="fw-semibold my-3">Public Cloud Services</h4>
      <p class="text-xs text-secondary">Our proven, standardized and repeatable services are designed to help you design and deploy on the right platform for your applications and workloads with security and ease of management in mind. </p>
      </div>
      <!--  -->
    </div>
    <!-- ********** -->
    <div class="row gap-4 justify-content-center mt-4">
      <div class="uxui-div col-3 bg-white ">
        <img src="../../../assets/image/service-imgs/icons/ux-crossplatform.png" alt="">
      <h4 class="fw-semibold my-3">Modern Operations</h4>
      <p class="text-xs text-secondary">WhizzAct integrates people, processes and technology to deliver value that iterates on where you are today, where you need to go, and the steps needed to modernize your operational processes and maximize efficiency.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-workshop.png" alt="">
      <h4 class="fw-semibold my-3">Cloud Migration</h4>
      <p class="text-xs text-secondary">We help our customers build secure, repeatable and scalable cloud environments on the cloud provider of choice. </p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-webdesign.png" alt="">
      <h4 class="fw-semibold my-3">Managed Cloud Services </h4>
      <p class="text-xs text-secondary">We help enterprises optimize and modernize infrastructure and applications with industry-leading capabilities across public, private and hybrid cloud. </p>
      </div>
      <!--  -->
    </div>
</div>



<!-- UX DESIGN SERVICES -->


<app-footer></app-footer>




