.header {
  height: 100vh;
}
.video-div{
height: 100%;
background-position: center left;;
background-size: cover;

}
.header-video video{
  width: 70%;
  height: 100%;
  opacity: 80%;
  cursor: none;
}
.color-pallete{
  width: 15rem;
  height: auto;
  position: absolute;
  bottom: 18rem;
  left: -3rem;
}

.graphic-design{
  width: 40rem;
}
.tools img{
  height: 2rem;
}

.visiting-card{
  width: 25rem;
  height: 25rem;
}
.visiting-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flyer{
  object-fit: contain !important;
}
