<app-navigation></app-navigation>

<div class="d-flex justify-content-center align-items-center header position-relative">
  <div class="col-6 ps-5 container">
      <img src="../../../assets/image/service-imgs/graphic-designing/garphic-design.png" alt="" class="graphic-design">
      <p class="col-10 my-3">Lorem Ipsum is simply dummy text of the printing o the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <div class="col-3 tools d-flex justify-content-between">
      <img src="../../../assets/image/service-imgs/icons/ps.png" alt="">
    <img src="../../../assets/image/service-imgs/icons/ai.png" alt="">
    <img src="../../../assets/image/service-imgs/icons/dn.png" alt="">
    <img src="../../../assets/image/service-imgs/icons/lr.png" alt="">
  </div>
  </div>
  <div class="col-6 video-div d-flex justify-content-center align-items-center  px-5">
    <div class="header-video ">
        <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
            <source src="../../../assets/image/service-imgs/graphic-designing/bg-video.mp4" type="video/mp4">
            Error Message
          </video>
    </div>
</div>
</div>

<!-- logo desiging -->
<div class="container my-5">
  <h1 class="text-head">Logo Desigining</h1>
  <div class="row justify-content-center align-items-center">
    <div class="col-5 ">
      <img src="../../../assets/image/service-imgs/graphic-designing/logo-designing.png" alt="" class="img-fluid">
    </div>
    <div class="col-5">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
    </div>
  </div>
</div>
<!-- logo desiging -->
<!-- brand design -->
<div class="container">
  <h1 class="text-head">BRAND DESIGN'S</h1>
<div class="row my-3 align-items-center justify-content-center">
  <div class="col-5 ms-3">
    <h4 class="fw-semibold mb-3">Visiting Card</h4>
    <p class="text-xs text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    </p>
  </div>
  <div class="col-5 d-flex justify-content-end">
    <div class="visiting-card bg-danger">
      <img src="../../../assets/image/service-imgs/graphic-designing/visitng-card.png" alt="">
    </div>
  </div>
</div>
<!--  -->
<div class="row my-3 align-items-center justify-content-center">
  <div class="col-5 d-flex justify-content-end">
    <div class="visiting-card">
      <img src="../../../assets/image/service-imgs/graphic-designing/flyer.png" class="flyer" alt="">
    </div>
  </div>
  <div class="col-5 ms-3">
    <h4 class="fw-semibold mb-3">STANDEE'S</h4>
    <p class="text-xs text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    </p>
  </div>
</div>



</div>

<!-- brand design -->
<app-footer></app-footer>
