<app-navigation></app-navigation>

<div class="container ">
  <div class="row align-items-center justify-content-between header">
      <div class="col-lg-6">
        <img src="../../../assets/image/service-imgs/graphic-designing/garphic-design.png" alt="" class="graphic-design d-none d-lg-block">
          <h1 class="fw-bold display-1 d-lg-none "><span class="text-blue">graphic</span> Desigining</h1>
          <p>WhizzAct Solutions is a web development company that offers top-notch graphic design services. With our team of experienced designers, we create stunning visuals that help businesses stand out in the digital world. From logos and branding to website design and marketing materials, we've got you covered.</p>
          <div class="col-3 tools gap-2 d-flex justify-content-between mt-3">
            <img src="../../../assets/image/service-imgs/icons/ps.png" alt="">
          <img src="../../../assets/image/service-imgs/icons/ai.png" alt="">
          <img src="../../../assets/image/service-imgs/icons/dn.png" alt="">
          <img src="../../../assets/image/service-imgs/icons/lr.png" alt="">
        </div>
      </div>
      <div class="col-6 d-lg-block d-none video-div">
      

 <video class="rounded-4 header-video " onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" >
            <source src="../../../assets/image/service-imgs/graphic-designing/bg-video.mp4" type="video/mp4">
            Error Message
          </video>      </div>
</div>
</div>







<!-- <div class="d-lg-flex justify-content-center align-items-center header ">
  <div class="col-lg-6 ps-5 container">
      <img src="../../../assets/image/service-imgs/graphic-designing/garphic-design.png" alt="" class="graphic-design">
      <p class="col-10 my-3">WhizzAct Solutions is a web development company that offers top-notch graphic design services. With our team of experienced designers, we create stunning visuals that help businesses stand out in the digital world. From logos and branding to website design and marketing materials, we've got you covered.</p>
      <div class="col-3 tools d-flex justify-content-between">
      <img src="../../../assets/image/service-imgs/icons/ps.png" alt="">
    <img src="../../../assets/image/service-imgs/icons/ai.png" alt="">
    <img src="../../../assets/image/service-imgs/icons/dn.png" alt="">
    <img src="../../../assets/image/service-imgs/icons/lr.png" alt="">
  </div>
  </div>
  <div class="col-6 video-div d-flex justify-content-center align-items-center  px-5">
    <div class="header-video ">
        <video class="rounded-4" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" >
            <source src="../../../assets/image/service-imgs/graphic-designing/bg-video.mp4" type="video/mp4">
            Error Message
          </video>
    </div>
</div>
</div> -->




<!-- logo desiging -->
<div class="container my-5">
  <h1 class="text-head">Logo Desigining</h1>
  <div class="d-lg-flex justify-content-center align-items-center">
    <div class="col-lg-5 ">
      <img src="../../../assets/image/service-imgs/graphic-designing/logo-designing.png" alt="" class="img-fluid">
    </div>
    <div class="col-lg-5">
      <p>At WhizzAct Solutions, we specialize in creating unique and memorable logos that represent your brand identity. Our team of talented designers work closely with you to understand your business goals and create a logo that stands out in a crowded market. We provide a range of logo design services to help your business make a lasting impression on your customers.</p>
    </div>
  </div>
</div>
<!-- logo desiging -->
<!-- brand design -->
<div class="container">
  <h1 class="text-head">BRAND DESIGN'S</h1>

  <div class=" my-3 align-items-center justify-content-center d-lg-none ">
    <div class=" d-flex justify-content-end">
      <div class="visiting-card ps-5 ">
        <img src="../../../assets/image/service-imgs/graphic-designing/visitng-card.png" class="image"
  data-paroller-factor="-0.1" alt="">  
      </div>
    </div>

    <div class=" ms-3">
      <h4 class="fw-semibold mt-2 ">Visiting Card</h4>
      <p class="text-xs text-secondary">At WhizzAct Solutions, we understand the importance of a well-designed business card in creating a lasting impression on potential customers. Our team of experienced designers create custom business card designs that reflect your brand identity and leave a lasting impression. We offer a range of options, including traditional business cards, mini-cards, and digital business cards. We also provide a range of finishes and materials to choose from to make your business card stand out. Our business card design services are tailored to your business needs, and we work closely with you to create a design that matches your business goals and values. With our professional design services, you can be sure that your business card will stand out in a crowded market.
  
      </p>
    </div>
   
  </div>



<div class="d-lg-flex my-3 align-items-center justify-content-center  d-none">
  <div class="col-5 ms-3">
    <h4 class="fw-semibold mb-3">Visiting Card</h4>
    <p class="text-xs text-secondary">At WhizzAct Solutions, we understand the importance of a well-designed business card in creating a lasting impression on potential customers. Our team of experienced designers create custom business card designs that reflect your brand identity and leave a lasting impression. We offer a range of options, including traditional business cards, mini-cards, and digital business cards. We also provide a range of finishes and materials to choose from to make your business card stand out. Our business card design services are tailored to your business needs, and we work closely with you to create a design that matches your business goals and values. With our professional design services, you can be sure that your business card will stand out in a crowded market.

    </p>
  </div>
  <div class="col-5 d-flex justify-content-end">
    <div class="visiting-card bg-danger">
      <img src="../../../assets/image/service-imgs/graphic-designing/visitng-card.png" class="image"
data-paroller-factor="-0.1" alt="">
    </div>
  </div>
</div>
<!--  -->
<div class="d-lg-flex my-3 align-items-center justify-content-center ">
  <div class="col-lg-5 d-flex justify-content-end">
    <div class="visiting-card ps-5">
      <img src="../../../assets/image/service-imgs/graphic-designing/flyer.png" class="flyer ukiyo" alt="">
    </div>
  </div>
  <div class="col-lg-5 ms-3">
    <h4 class="fw-semibold mt-lg-2 mb-lg-3">STANDEE'S</h4>
    <p class="text-xs text-secondary">WhizzAct Solutions provides professional standee design services to help businesses attract customers and stand out at events and exhibitions. Our team of experienced designers creates custom standee designs that are visually stunning and strategically crafted to attract customers. We offer a range of options, including retractable banners, X-stand banners, and pop-up banners, tailored to your specific needs. We work closely with you to understand your brand identity, target audience, and business goals to create a design that perfectly represents your business. With our standee design services, you can be confident that your business will make a lasting impression on potential customers and stand out in a crowded market.
    </p>
  </div>
</div>



</div>

<!-- brand design -->
<app-footer></app-footer>
