<app-navigation></app-navigation>
<header>
    <div class="position-relative d-flex justify-content-center align-items-center text-center ">
        <img src="../../assets/image/our-porfolio-asserts/bg.png" alt="" class="img-cover">
        <div class="position-absolute col-xl-8 col-md-10 col-12" data-aos="fade-down" data-aos-easing="linear"
            data-aos-duration="1500">
            <h2 class="fs-head mt-3">Crafted With <span class="text-blue">Love.</span> Built
                With Passion</h2>
            <p class="fs-para mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
            <a href="http://whizzact.com/whizzact.pdf" target="_blank" class=" mt-4 btn bg-btn rounded-pill py-2 fs-5 px-5 d-inline-flex">Download Brochure <span class="material-symbols-outlined ms-3">
                download
                </span></a>
            <!-- <button><img src="/svg/arrow-down.svg" alt="" class=""></button> -->
        </div>
    </div>
</header>

<main>
    <div class="d-lg-flex justify-content-lg-between align-items-center group-div overflow-hidden">
        <div class="ms-xl-3 ms-lg-5 px-xl-5  txt-center col-lg-4 col-md-7 col-9" data-aos="fade-right">
            <h2 class="text-uppercase fs-lg">RI2k london</h2>
            <p class="fs-md mt-lg-3 px-lg-0 px-5">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
                Lorem
                Ipsum has
                been the industry's </p>
            <p class="fs-sm mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem
                Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley
                of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.</p>
            <!-- <a href="" class="fs-link nav-link mt-5">view case study <img src="/svg/Group 135.svg" alt=""
                    class=""></a> -->
        </div>
        <div class=" d-lg-block d-flex justify-content-center align-items-center mt-lg-0 mt-5" data-aos="fade-left">
            <div class="position-relative group-img ">
                <img src="../../assets/image/our-porfolio-asserts/ri2k-bg.png" alt="" class="img-div">
                <img src="../../assets/image/our-porfolio-asserts/ri2k.png" alt=""
                    class="position-absolute mobile-img-left ">
            </div>
        </div>
    </div>
    <div class="d-flex flex-lg-nowrap flex-wrap-reverse align-items-center group-div my-5 flex">

        <div class=" d-lg-block d-flex justify-content-center align-items-center mt-lg-0 mt-5 img-group"
            data-aos="fade-right">
            <div class="position-relative group-img">
                <img src="../../assets/image/our-porfolio-asserts/boru-bg.png" alt="" class="img-div">
                <img src="../../assets/image/our-porfolio-asserts/boru.png" alt="" class="position-absolute mobile-img-right ">
            </div>
        </div>
        <div class="col-xl-4 px-xxl-5 px-xl-3 txt-center col-lg-4 col-md-7 col-9 text-group"
            data-aos="fade-left">
            <h2 class="text-uppercase fs-lg">boru</h2>
            <p class="fs-md mt-3 px-lg-0 px-5">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem
                Ipsum has
                been the industry's </p>
            <p class="fs-sm mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.</p>
            <!-- <a href="" class="fs-link nav-link mt-5">view case study <img src="/svg/Group 135.svg" alt=""
                    class=""></a> -->
        </div>
    </div>
    <div class="d-lg-flex justify-content-lg-between align-items-center group-div overflow-hidden">
        <div class="ms-xl-3 ms-lg-5 px-xl-5  txt-center col-lg-4 col-md-7 col-9" data-aos="fade-right">
            <h2 class="text-uppercase fs-lg">future wings</h2>
            <p class="fs-md mt-lg-3 px-lg-0 px-5">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
                Lorem
                Ipsum has
                been the industry's </p>
            <p class="fs-sm mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem
                Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley
                of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.</p>
            <!-- <a href="" class="fs-link nav-link mt-5">view case study <img src="/svg/Group 135.svg" alt=""
                    class=""></a> -->
        </div>
        <div class=" d-lg-block d-flex justify-content-center align-items-center mt-lg-0 mt-5" data-aos="fade-left">
            <div class="position-relative group-img ">
                <img src="../../assets/image/our-porfolio-asserts/futurewings-bg.png" alt="" class="img-div bg-img">
                <img src="../../assets/image/our-porfolio-asserts/futurewing.png" alt=""
                    class="position-absolute leptop-img">
            </div>
        </div>
    </div>
    <div class="d-flex flex-lg-nowrap flex-wrap-reverse align-items-center group-div my-5 overflow-hidden">
        <div class=" d-lg-block d-flex justify-content-center align-items-center mt-lg-0 mt-5"
            data-aos="fade-right">
            <div class="position-relative group-img">
                <img src="../../assets/image/our-porfolio-asserts/taggd-bg.png" alt="" class="img-div">
                <img src="../../assets/image/our-porfolio-asserts/taggd.png" alt="" class="position-absolute mobile-img-right ">
            </div>
        </div>
        <div class="  col-xl-4 px-xxl-5 px-xl-3 txt-center col-lg-4 col-md-7 col-9 text-group"
            data-aos="fade-left">
            <h2 class="text-uppercase fs-lg">taggd</h2>
            <p class="fs-md mt-3 px-lg-0 px-5">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem
                Ipsum has
                been the industry's </p>
            <p class="fs-sm mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.</p>
            <!-- <a href="" class="fs-link nav-link mt-5">view case study <img src="/svg/Group 135.svg" alt=""
                    class=""></a> -->
        </div>
    </div>
</main>



<app-footer></app-footer>