<app-navigation></app-navigation>
<div class="min-h-70 d-flex justify-content-center align-items-center container">
    <div class="col-lg-6 text-center">
        <h2 class="mb-2 text-head">Refunds and Cancellations Policy - Whizzact Pvt Ltd</h2>
    </div>
</div>

<div class="container content-div">
    <ol>
        <li class="head"><h3>Refunds:</h3>
        <ol>
            <li>Refunds may be granted on a case-by-case basis, subject to the relevance of the refund request and the terms agreed upon in the specific agreement between the client and Whizzact Pvt Ltd.</li>
            <li>To initiate a refund request, the client must submit a detailed explanation and supporting documentation within a reasonable timeframe.</li>
            <li>Whizzact Pvt Ltd reserves the right to evaluate the refund request and determine the appropriate resolution, which may include partial or full refunds or alternative remedies.</li>
        </ol></li>

        <li class="head"><h3>Cancellations:</h3>
            <ol>
                <li>Cancellation requests must be submitted in writing to Whizzact Pvt Ltd and received with prior notice of at least two months, unless otherwise specified in the agreement between the client and Whizzact Pvt Ltd.</li>
                <li>Failure to provide the required notice may result in the client being responsible for payment of services for the specified notice period.</li>
                <li>Whizzact Pvt Ltd reserves the right to review cancellation requests, considering any applicable contractual obligations or financial implications, before confirming the cancellation.</li>
            </ol></li>

    </ol>
</div>

<div class="mt-5 text-secondary col-10 col-lg-6 mx-auto text-center">
    <p>Please note that the information provided above is a general overview of our refund and cancellation policy. Specific details and conditions may vary depending on the individual agreement between the client and Whizzact Pvt Ltd.</p>
</div>

<app-footer></app-footer>
