<app-navigation></app-navigation>

<div class=" container d-md-flex justify-content-center align-items-center header">
  <div class="col-12 col-md-6">
      <h1 class="fw-bold display-1"><Span class="text-blue">Deveops</Span><br> Service</h1>
      <p class="col-md-10 my-3">Providing DevOps services typically involves helping organizations improve their software development, delivery, and operations practices through the adoption of DevOps principles and technologies.</p>
      <div class="col-2 tools gap-3 d-flex justify-content-between">
      <img src="../../../assets/image/aws-icon.png" alt="">
    <img src="../../../assets/image/azsur-icon.png" alt="">
    <img src="../../../assets/image/service-imgs/icons/xd.png" alt="">
  </div>
  </div>
  <div class="col-md-6 d-lg-block d-none p-5">
      <img src="../../../assets/image/DevOpsBanner.svg" alt="" class="img-fluid ps-5">
  </div>
</div>
<!-- UX DESIGN SERVICES -->
<div class="container">
    <h1 class="text-head">Deveops Service Process</h1>
    <div class="row gap-4 justify-content-center">
      <div class="uxui-div col-3 bg-white ">
        <img src="../../../assets/image/service-imgs/icons/ux-vr.png" alt="">
      <h4 class="fw-semibold my-3">Planning</h4>
      <p class="text-xs text-secondary">Planning is a crucial part of any DevOps process. Without proper planning, DevOps initiatives can quickly become chaotic and disorganized, leading to project delays, quality issues, and cost overruns.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-mobileapp.png" alt="">
      <h4 class="fw-semibold my-3">Development</h4>
      <p class="text-xs text-secondary">Infrastructure as Code is a fundamental DevOps principle that involves managing infrastructure using code. By defining infrastructure as code, you can automate infrastructure provisioning, reduce the risk of human errors, and improve consistency.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-idea.png" alt="">
      <h4 class="fw-semibold my-3">Continuous Integration (CI)</h4>
      <p class="text-xs text-secondary">Continuous Integration involves integrating code changes into the main code repository frequently. This practice helps to identify integration issues early in the development process and ensures that the codebase remains stable.</p>
      </div>
      <!--  -->
    </div>
    <!-- ********** -->
    <div class="row gap-4 justify-content-center mt-4">
      <div class="uxui-div col-3 bg-white ">
        <img src="../../../assets/image/service-imgs/icons/ux-crossplatform.png" alt="">
      <h4 class="fw-semibold my-3">Continuous Delivery (CD)</h4>
      <p class="text-xs text-secondary">Continuous Delivery involves deploying changes to production frequently, quickly, and reliably. This practice helps to reduce lead time and improve the speed of delivery.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-workshop.png" alt="">
      <h4 class="fw-semibold my-3">Monitoring and Feedback</h4>
      <p class="text-xs text-secondary">Continuous monitoring is a key DevOps practice that involves monitoring application performance, infrastructure, and security in real-time. Continuous monitoring enables teams to identify and resolve issues quickly, reducing downtime and improving reliability.</p>
      </div>
      <!--  -->
      <div class="uxui-div col-3 bg-white  ">
        <img src="../../../assets/image/service-imgs/icons/ux-webdesign.png" alt="">
      <h4 class="fw-semibold my-3">Continuous Improvement</h4>
      <p class="text-xs text-secondary">Continuous Improvement is a core principle of DevOps that involves continuously identifying opportunities for improvement and implementing changes to increase efficiency and effectiveness. </p>
      </div>
      <!--  -->
    </div>
</div>



<!-- UX DESIGN SERVICES -->


<app-footer></app-footer>




