.header{
  height: 100vh;
}
.pattern1,.pattern2,.pattern3{
  height: 15rem !important;
  width: 15rem !important;
  border-radius: 50%;
  background: rgb(239, 36, 36);
  position: absolute;
  filter: blur(100px);
  -webkit-filter: blur(80px);
  -moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
z-index: -1;
}
.pattern1{
  background-color: rgb(255, 84, 84) !important;
  top: 1rem;
  right: 10rem;
}
.pattern2{
  background-color: rgb(255, 196, 70) !important;
  top: 15rem;
  right: 20rem;
}
.pattern3{
  background-color: rgb(103, 164, 255) !important;
  top: 20rem;
  right: 3rem;
}
.pattern-div{
  position: absolute;
  top: -20rem !important;
  right: 0;
}
.terminal{
position: absolute;
width: 21rem !important;
height: 25rem !important;
background-color:rgba(4, 4, 4, 0.467);
top: -10rem;
right: 9rem;
}
.terminal-btn{
  width: 1.2rem;
  height: 1.2rem;
  opacity: 100 !important;
  border-radius: 50%;
}
.terminal-line1 {
  color: greenyellow;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text__1 6s steps(30, end) 1s 1 normal both,
    animated-cursor__1 500ms steps(30, end) 8;
}
.terminal-line2 {
  color: greenyellow;
  max-width: 100%;
  white-space: nowrap; /* keep text in one line */
  overflow: hidden;
  animation: animated-text__2 5s steps(30, end) 1s 1 normal both,
    animated-cursor__1 500ms steps(30, end) 8;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.terminal-line3{
  color: greenyellow;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgba(4, 4, 4, 0);
  animation: animated-text__3 5s steps(30, end) 1s 1 normal both,
  animated-cursor__1 500ms steps(30, end) 5;
  -webkit-animation-delay: 7s;
  animation-delay: 9s;
}
.terminal-line4{
  color: greenyellow;
  max-width: 9rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgba(4, 4, 4, 0);
  animation: animated-text__3 5s steps(30, end) 1s 1 normal both,
  animated-cursor__3 1s steps(30, end) infinite;
  -webkit-animation-delay: 7s;
  animation-delay: 12s;
}
.text-terminal{
  color: yellowgreen;
  animation: terminal-text;
  font-size: 0.7rem !important;
  line-height: 0.95rem;
  opacity: 0;
  animation: fadeIn;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes animated-cursor__1 {
  10% {
     border-right: 2px solid rgba(0,0,0,0);

  }
  30% {
    border-right: 2px solid rgba(4, 4, 4, 0);
  }
  50% {
     border-right: 2px solid rgba(0,0,0,0);

  }
  70% {
     border-right: 2px solid yellowgreen;

  }
  90% {
     border-right: 2px solid rgba(0,0,0,0);

  }
  100% {
    border-right: none !important;
    }
}
@keyframes animated-cursor__3 {
  from {
    border-right-color: rgba(4, 4, 4, 0.467);
  }
  to {
     border-right: 2px solid yellowgreen;

  }
  100%{
    border:0px !important;
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 45rem;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 29rem;
  }
}
@keyframes animated-text__3 {
  from {
    width: 0;
  }
  to {
    width: 45rem;
  }
}
/* ---- */
.angular{
  height: 5rem;
  width: 5rem;
  position: absolute;
  background-color:  #DD0031 !important;
  top: 10rem;
  left: -8rem;
  rotate: calc(-20deg);
  animation-name: float;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  -webkit-box-shadow: 22px 21px 0px 4px #b60027;
-moz-box-shadow: 22px 21px 0px 4px #b60027;
box-shadow: 12px 12px 0px 0px #b60027;
}
.angular svg{
  width: 3rem !important;
  height: 3rem !important;
}
.laravel{
  height: 4rem;
  width: 4rem;
  position: absolute;
  background-color:  #FF2D20 !important;
  top: -8rem;
  left: -7rem;
  rotate: calc(-30deg);
  animation-name: float;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-box-shadow: 22px 21px 0px 4px rgb(157, 0, 34) ;
-moz-box-shadow: 22px 21px 0px 4px rgb(157, 0, 34) ;
box-shadow: -8px 8px 0px 0px rgb(157, 0, 34) ;
}

.laravel svg{
  width: 2.5rem!important;
  height: 2.5rem!important;
}
.aws{
  height: 5rem;
  width: 5rem;
  position: absolute;
  background-color: #303f52;
  top: -8rem;
  left: 10rem;
  rotate: calc(10deg);
  animation-name: float;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-box-shadow: 22px 21px 0px 4px #232F3E ;
-moz-box-shadow: 22px 21px 0px 4px #232F3E ;
box-shadow: 8px 8px 0px 0px #232F3E ;
}
.aws svg{
  width: 2.8rem!important;
  height: 2.8rem!important;
}
.php{
  height: 5rem;
  width: 5rem;
  position: absolute;
  background-color: rgb(254, 252, 252);
  top: 15rem;
  left: 23rem;
  rotate: calc(5deg);
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-box-shadow: 22px 21px 0px 4px #d4d4d4 ;
-moz-box-shadow: 22px 21px 0px 4px #d4d4d4  ;
box-shadow: 8px 8px 0px 0px #d4d4d4  ;
}
.php svg{
  width: 4rem;
  fill: white;
}
.node{
  height: 5rem;
  width: 5rem;
  position: absolute;
  background-color: #777BB4;
  top: 15rem;
  left: 23rem;
  rotate: calc(5deg);
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-box-shadow: 22px 21px 0px 4px #474b79 ;
-moz-box-shadow: 22px 21px 0px 4px #474b79 ;
box-shadow: 8px 8px 0px 0px #474b79 ;
}
.node svg{
  width: 4rem;
  fill: white;
}
@keyframes float {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px);}
  100%   { transform: translate(0, -0px); }
}
/* service */
.service-active{
  display: block;
  }
  .service-inactive{
    display: none;
    }
 .service-card{height: 20rem !important;}

.service-icon-div{
  height: 7.5rem !important;
  width: 15rem !important;
  position: relative !important;
}
.service-icon{
  width: 7rem!important;
  height: 7rem!important;
}
.service-icon-div:hover .service-icon img{
  transform: scale(1.1) !important;
}
.service-icon img{
    height: 4.5rem !important;
    width: 4.5rem!important;
    transition: all 0.5s ease-in-out;
}
/* ----------------------------------- */
.service-btn-active-t:after {
  content:'';
  position: absolute;
  bottom: -0.8rem;
  border-top:10px solid  var(--border-color);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.service-btn-active-b::before {
  content:'';
  position: absolute;
  top: -0.8rem;
  border-bottom:10px solid  var(--border-color);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.service-btn-active-t , .service-btn-active-b {
  /* border-color: var(--border-color); */
  border: 3.5px solid var(--border-color);
  /* margin-left: 0 !important; */
}
.service-btn-active-t .service-icon img{
  transform: scale(1.1) !important;
}
/* ---------------------------- */
.service-img{
  height: 15rem !important;
  padding: 2rem !important;
}
.service-img img{
  height: 100%;
  width:  100%;
  object-fit: contain;
  z-index: 10;
}
.blob{
  position: absolute;
  max-width: 100%;
  height: 15rem;
  top: 0;
  left: 0;
  z-index: -5 !important;
}
.service-tools-icons{
  height: 1.5rem!important;
}
/* clients */
/* promise */
.promise-bg{
  background: linear-gradient( rgba(249, 249, 249, 0.822), rgba(249, 249, 249, 0.822) ), url("../../assets/icons/patterns/pattern1.png") ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  /* filter: brightness(50%); */
}
.promise{
  position: relative;
  overflow: hidden;
}
/* industry */
.card-ind{
  width: 15.85rem !important;
}
.industry-card{
  width: 15rem;
  height: 15rem;


}
.industry-icon{
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -2rem;
  left: 0rem;
  right: 0;
}
.industry-icon img{
  height: 3rem;
}
.industry-card img{
min-height:100% ;
width: 100%;
  object-fit: cover !important;
}
.count-icon img{
  height: 8rem;
}
/* our client */
.client-logo img{
  width: auto;
  max-height: 100%;
}
.client-logo{
  height: 6rem !important;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* industry */
.industry2-img{
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  transition: 0.5s ease-in-out;
}
.industry2-card{
  /* width: auto !important; */
  position: relative;
  overflow: hidden;
}
.industry2-card:hover .industry2-img{
  transform: scale(1.1);
}
.industry2-content{
  background:linear-gradient(rgba(255, 255, 255, 0),rgba(47, 47, 47, 0.67));
  position: absolute !important;
  top: 0;
  width: 100%;
  height: 100%;
}
.industry2-content-finance{
  position: absolute !important;
  top: 0;
  width: 100%;
  height: 100%;
}
.edu-sec{
  height: 10rem !important;
  position: relative;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  .header{
    height: auto;
    margin-top: 0;
    width: 100% !important;
  }
  .terminal-div{
    height:40rem;
    top: 22rem;
    width: 100% !important;
    position:  relative !important;
  }
  .terminal{
    width: 18rem !important;
    height: 20rem !important;
    top: -13rem;
    left: 50%;
    transform: translate(-45%, 0);
    }
    .text-terminal{
      font-size: 0.55rem !important;
    }
.angular{
  left: 1rem;
  top: 7rem;
}
.php{
  top: 3rem;
  left: 16rem;
}
.laravel{
  top: -19rem;
  left: 30%;
}
.pattern-div{
height: auto !important;
}

/*  */

/* service */
.service-img img{
  width: 100%;
  height: 15rem;
  object-fit: contain;
}
.service-img{
  height: 16rem;
}
.count{

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.count-icon img{
  height: 5rem;
}
.promise-bg{
  background: linear-gradient( rgba(249, 249, 249, 0.822), rgba(249, 249, 249, 0.822) ), url("../../assets/icons/patterns/pattern1.png") ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .count{
    background:linear-gradient(#3419abd6,#3419abdf), url(../../assets/icons/patterns/cccircular.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .terminal{
    width: 22rem !important;
    height: 25rem !important;
    top: -16rem;
    left: 50%;
    transform: translate(-45%, 0);
    }
    .angular{
      /* right: 50%; */
      left:70%;
      top: 7rem;
    }
    .php{
      top: 1rem;
      left: 10rem;
    }
    .laravel{
      top: -19rem;
      left: 20%;
    }
    .aws{top: -15rem;left: 80%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header{
    height: 100vh;
  }
  .service-img img{
    max-height: 18rem!important;
    max-width: 20rem !important;
    z-index: 10;
  }
  .service-img img{
    width: 100%;
    height: 13rem;
    object-fit: contain;
  }
  .terminal{
    top: -12rem;
    left: 50%;
    transform: translate(-50%, 0);
    }
  .angular{
    left: 7rem;
    top: 10rem;
  }
  .php{
    top: -3rem;
    left: 80%;
  }
  .aws{
    top: -20rem;
    left: 23rem;
  }
  .laravel{
    top: -18rem;
    left: 10%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
