<app-navigation></app-navigation>
<div class="why-whizzact">

<div class="container header">
  <div class=" d-flex justify-content-between align-item-center">
    <div class="col-6">
      <h2 class="display-3 fw-bold">Why <span class="text-blue "> Whizzact ?</span></h2>
      <p class="col-10 mt-3">Whizzact is based on Opinion. The opinion comes by thought via minds. We at Whizzact System are here to deliver the best results for your business with an incredible outcome.</p>
    </div>
    <div class="col-6 position-relative">
      <div class="bg-pattern">
      <div class="bg-p-red"></div>
      <div class="bg-p-blue"></div>
      <div class="bg-p-yellow"></div>
    </div>
    <div class="header-icon">
      <div class="d-flex flex-column icon1 justify-content-center align-items-center  rounded">
        <img src="../../assets/icons/handshake (1).svg" alt="">
        <p class="text-center text-xs fw-semibold">Meaningful Collaboration</p>
      </div>
      <div class="d-flex flex-column  icon2 justify-content-center align-item-center  rounded">
        <img src="../../assets/icons/idea.svg" alt="">
        <p class="text-center text-xs fw-semibold">Constant Innovation</p>

      </div>
      <div class="d-flex flex-column  icon3 justify-content-center align-item-center  rounded">
        <img src="../../assets/icons/thumbs-up.svg" alt="">
        <p class="text-center text-xs fw-semibold">Happy Success Stories</p>
      </div>
    </div>
    </div>
  </div>
</div>



<div class="container">
  <h3 class="text-center fw-semibold py-3">Value at our core</h3>
  <div class="row value-core justify-content-center">
  <div class="col-11 col-md-5 col-lg border px-5 py-3 rounded">
      <img src="../../assets/icons/icons8-role-64.png" alt="">
      <h3 class="mt-3" style="font-size: 2.5rem;">Role</h3>
      <p class="mt-2" style="line-height: 1.5rem;">We utilize our unique expertise with advanced technologies and work as a stand-alone web development team.</p>
  </div>
  <div class="col-11 col-md-5 col-lg border mt-3 mt-lg-0 mt-2 mt-md-0 ms-md-3 px-5 py-3 rounded">
      <img src="../../assets/icons/icons8-vision-64.png" alt="">
      <h3 class="mt-3" style="font-size: 2.5rem;">Vision</h3>
      <p class="mt-2" style="line-height: 1.5rem;">Our achievements have made us strong enough with a vision for future to help enterprises gain big results.</p>
  </div>
  <div class="col-11 col-md-5 col-lg  border mt-3 mt-lg-0 ms-lg-3 px-5 py-3 rounded">
      <img src="../../assets/icons/icons8-mission-100.png" alt="">
      <h3 class="mt-3" style="font-size: 2.5rem;">Mission</h3>
      <p class="mt-2" style="line-height: 1.5rem;">Our mission is to deliver world-class solutions using latest technologies and skills to nurture creativity and collaborations.</p>
  </div>
  <div class="col-11 col-md-5 col-lg  border mt-3 mt-lg-0 ms-md-3 px-5 py-3 rounded">
      <img src="../../assets/icons/icons8-team-58.png" alt="">
      <h3 class="mt-3" style="font-size: 2.5rem;">Team</h3>
      <p class="mt-2" style="line-height: 1.5rem;">Our team of “Perceptionists” perceives important values like dedication and commitment towards the clientele dreams.</p>
  </div>
  </div>
  </div>
  <div class=" mt-5 work-patter py-5">
      <div class="container py-4">
          <h2 class="text-dark text-center fw-semibold">Our <span class="text-cyna">Work Pattern</span></h2>
          <!-- <div class="row g-5 mt-5 justify-content-center">
            <div class="col-2 work ">
              <h2 class="text-dark">01</h2>
              <p class="fs-6 mt-3 text-secondary">Closely work for client’s concerns & Feedback</p>
            </div>
            <div class="col-2 work border-start border-secondary  border-3">
              <h2 class="text-dark">02</h2>
            </div>
            <div class="col-2 work border-start border-secondary border-3">
              <h2 class="text-dark">03</h2>
              <p class="fs-6 mt-3 text-secondary">Prudent Consultation for queries</p>
            </div>
            <div class="col-2 work border-start border-secondary border-3">
              <h2 class="text-dark">04</h2>
              <p class="fs-6 mt-3 text-secondary">Easy to manage, flexible & Cost- effective development</p>
            </div>
            <div class="col-2 work border-start border-secondary border-3">
              <h2 class="text-dark">05</h2>
              <p class="fs-6 mt-3 text-secondary">PMS with tools for process tracking in real-time</p>
            </div>
          </div> -->
          <div class="row justify-content-center my-3">
            <div class="col-2 work-card text-center d-flex flex-column justify-content-center">
              <div class="d-flex justify-content-center">
              <div class="numberCircle bg-blue text-white">1</div>
            </div>
              <div>
              <p class="fs-6 mt-3 text-secondary mt-4">Closely work for client’s concerns & Feedback</p>
              </div></div>

              <div class="col-2 work-card text-center d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center">
                <div class="numberCircle bg-blue text-white">2</div>
              </div>
                <div>
              <p class="fs-6 mt-3 text-secondary">Progressive in fetching ideas & Concepts</p>
                </div></div>

                <div class="col-2 work-card text-center d-flex flex-column justify-content-center">
                  <div class="d-flex justify-content-center">
                  <div class="numberCircle bg-blue text-white">3</div>
                </div>
                  <div>
              <p class="fs-6 mt-3 text-secondary">Prudent Consultation for queries</p>
                  </div></div>

                  <div class="col-2 work-card text-center d-flex flex-column justify-content-center">
                    <div class="d-flex justify-content-center">
                    <div class="numberCircle bg-blue text-white">4</div>
                  </div>
                    <div>
              <p class="fs-6 mt-3 text-secondary">Easy to manage, flexible & Cost- effective development</p>
                    </div></div>

                    <div class="col-2 work-card text-center d-flex flex-column justify-content-center">
                      <div class="d-flex justify-content-center">
                      <div class="numberCircle bg-blue text-white">5</div>
                    </div>
                      <div>
              <p class="fs-6 mt-3 text-secondary">PMS with tools for process tracking in real-time</p>
                      </div></div>
          </div>
      </div>
  </div>

  <!-- wrapper -->
</div>
<app-footer></app-footer>
