.why-whizzact{
  padding-top: 10rem;
}
.value-core img{
  height: 3.5rem;
}
/* bg-pattern */
.header {
  height: 80vh;
  padding-top: 5rem;
}
.bg-p-red,.bg-p-blue{
  height: 15rem !important;
  width: 20rem !important;
  position: absolute;
  border-radius: 50%;
  filter: blur(200px);
  -webkit-filter: blur(100px);
  -moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
z-index: -1;
}
.bg-p-red{
  background-color: rgb(255, 61, 61) !important;
  top: 5rem;
  left: 15rem;
}
.bg-p-blue{
  background-color: rgb(152, 61, 255) !important;
  top: -5rem;
  left: 5rem;
}

/* icons */
.icon1,.icon2,.icon3{
background-color: rgba(255, 255, 255, 0.523);
width: 8rem;
height: 8rem;
position: absolute;
animation-name: float;
animation-duration: 5s;
animation-iteration-count: infinite;
}
.header-icon img{
  height: 4.5rem;
  width: auto !important;
}
.icon1{
  top: -5rem;
  left: 20rem;
  rotate: calc(20deg);
}
.icon2{
  top: 10rem;
  left: 20rem;
  rotate: calc(8deg);
}
.icon3{
  top: 0rem;
  left: 5rem;
  rotate: calc(-10deg);
}
@keyframes float {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px);}
  100%   { transform: translate(0, -0px); }
}
.work-patter{
  /* width: 50rem; */
  overflow: hidden;
  position:relative !important;
  justify-content: space-around !important;
  display: flex !important;

}
.work-step{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;;
}
.work-patter::before :first-child{
  width: 0 !important;
}
#work-step-1::before{
  width: 0 !important;
}
.work-step::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #a793ff;
  z-index: -1;

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .why-whizzact{
    padding-top: 0rem;
  }
  .header{
    height: 100vh;
  }
}
.m-work p{
background-color: #301f80;
height: 2rem;
width: 2rem;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
/* margin-bottom: 1.5rem; */
color: white;;
}
.m-work span{
  margin-top: 2rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
